*{
    padding: 0;
    margin: 0;
    color: white;
}



.main{
    background-color: rgb(19, 5, 83);
    padding: 10%;
    width: 80vw;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/* h1{
    background: yellow;
} */

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 20%;
    height: 40%;
    background-color:  rgb(24, 5, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.overview{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.stats{
    background-color:  rgb(24, 5, 109);
    width: 20%;
    height: 25%;
    padding:20px;
    border-radius: 10px;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width:450px){
    .main{
        background-color: rgb(53, 15, 219);
    }
    .cards, .overview{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card, .stats{
        width: 80%;
    }
}

@media screen and (min-width:451px) and (max-width:768px){
    .main{
        background-color: rgb(43, 13, 177);
    }
    .cards, .overview{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .card, .stats{
        width: 35%;
    }
}